/*
* === BODY & MAP ===
*/
body {
  margin: 0;
  padding: 0;
}
#map {
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin-left: 25%;
  height: 100%;
  transition: margin-left .5s;
 }
 @media all and (max-width: 960px) {
    #map {
      margin-left: 240px;
    }
 }
 /*
* === GEOCODER & STATUS AREA ===
*/
 #geo-status-fixed {
   position: absolute;
   min-width: 240px;
   width: 25%;
   left: 0px;
   top: 0px;
   background-color: #111;
   display: inline;
   font-family: 'Montserrat', sans-serif;
 }
#geocoder {
  position: relative;
  width: 100%;
}
.mapboxgl-ctrl-geocoder {
  border-radius: 0;
  min-width:100%;
}
#snow-emergency-status {
  position: relative;
  width: 100%;
  background-color: #111;
  text-align: center;
  color: white;
  border-bottom: 1px white solid;
}
#status-title {
  margin: 2px 4px 2px 4px;
  font-size: 110%;
  color: white;
  display: block;
}
#status {
  padding: 2px 4px 2px 4px;
}
#status-text {
  background-color: green;
  color: white;
  padding: 2px 8px;
  display: inline-block;
  margin-bottom: 4px;
  font-size: 110%;
  -webkit-text-stroke: 0.5px black;
  -moz-text-stroke: 0.5px black;
}
.bold-hr {
  margin: 0;
  margin-top: 4px;
}

/*
* === INFO AREA ===
*/
.faint-hr {
  color: #818181;
  margin: 0px;
}
#day-selector-area {
  position: absolute;
  width: 100%;
}
.info-area {
  position: absolute;
  width: 25%;
  min-width: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0px;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;
}
.info-area p {
  padding: 3px 4px 3px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
.info-area a {
  color: white;
  padding: 4px;
  font-size: 17px;
  display: block;
  text-align: center;
}

/*
* — Day Selector Buttons & Info —
*/
/* Style the sidenav links and the dropdown button */
.day-selector {
  padding: 10px 15px 10px 25px;
  text-decoration: none;
  font-size: 150%;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
/* On mouse-over */
.day-selector:hover {
  color: #f1f1f1;
}
/* Add an active class to the active dropdown button */
.active {
  background-color: #262626;
  color: white;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  color: white;
  text-align: center;
  transition: height 1.0s ease-out;
}
.dropdown-container p {
  color: white;
  padding: 2px;
  margin: 2px;
  font-size: 16px;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
/* Style the "Do" section */
.do {
  background-color: green;
  padding: 5px;
  -webkit-text-stroke: 0.5px black;
  -moz-text-stroke: 0.5px black;
}
/* Style the "Don't" section */
.dont {
  background-color: red;
  padding: 5px;
  -webkit-text-stroke: 0.5px black;
  -moz-text-stroke: 0.5px black;
}
.parking-time {
  padding: 5px;
}
.day2-3-time {
  white-space: nowrap;
}
