/*
* === BODY & MAP ===
*/

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

body { margin: 0; padding: 0; height: 100%; width: 100%; background-color: #262626}
#map {
  height: 65vh;
  flex-grow: 2; /* can try flex-grow here, but you probably need to search online*/
 }

 /*
* === GEOCODER & STATUS AREA ===
*/
 #geo-status-area {
   display: flex;
   flex-direction: column;
   background-color: #111;
   font-family: 'Montserrat', sans-serif;
   border-bottom: solid 2px white;
 }
#geocoder {
  margin: 1vh;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
#status-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #111;
  margin-bottom: 1vh;
}
#status-title {
  flex-wrap: nowrap;
  font-size: 95%;
  color: white;
  display: inline;
  margin-right: 2px;
}
#status-text {
  flex-wrap: nowrap;
  color: green;
  font-size: 95%;
  display: inline;
  white-space: nowrap;
  margin-left: 2px;
}

/*
* === INFO AREA ===
*/
.faint-hr {
  display: none;
}
#selector-info-area {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: auto;
}
#info-area {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
#info-area p {
  padding: 3px 4px 3px 8px;
  text-decoration: none;
  color: #818181;
  display: block;
}
#info-area a {
  color: white;
  padding: 4px;
  display: block;
  text-align: center;
}
/*
* — Day Selector Buttons & Info —
*/
#day-selector-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  overflow-x: auto;
  margin-top: auto;
}
.day {
  display: inline-block;
}
.day-selector {
  text-decoration: none;
  padding: 10px 0px;
  color: #818181;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
#day1-selector {
  flex-grow: 1;
}
#day2-selector {
  flex-grow: 1;
}
#day3-selector {
  flex-grow: 1;
}
/* On mouse-over */
.day-selector:hover {
  color: #f1f1f1;
}
/* Add an active class to the active dropdown button */
.active {
  background-color: #8a8a8a;
  color: black;
}
/* Toggle-container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.toggle-container {
  display: none;
  flex-direction: column;
  text-align: center;
  color: white;
}
#day1 {
  display: flex;
  flex-grow: 2;
}
/* Style the "Do" section */
.do {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #133318;
  border-color: #5abf70;
  border-width: 3.5px;
  border-style: solid;
}
.do span {
  font-size: 90%;
}
/* Style the "Don't" section */
.dont {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #801f1f;
  border-color: #e35d71;
  border-width: 3.5px;
  border-style: solid;
}
.dont span {
  font-size: 90%;
}
.parking-time {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.parking-time span {
  display: inline-block;
  margin: 2px 0px;
  padding: 2px 0px;
  font-size: 85%;
}
