
.copy{
 min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-size: 1em;
  line-height: 1.5;
  color: #808080;
}

.copybold{
min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-size: 1em;
  line-height: 1.5;
  font-weight:bold;
  color: #808080;
}



.button {
    background-color: #71afb6;
    border-style: solid;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #999999;
    cursor: pointer;
    border-width: 1px;
    width: auto;
    padding:5px;
}
.button:hover{background-color: #317780;}

.SurveyTable
{
    border-spacing: 1px;
    border-color:#000;
   /* background-color:#cccccc;*/
}

.SurveyCell
{
    /*background-color:#e7e7e7;*/
    padding: 10px;
    font-size:12px;
    color:#444444;
    vertical-align:middle;    
}

.SurveyCellQues
{
    background-color:#FFF;
    padding: 10px;
    font-size:12px;
    color:#666666;
}

.divider
{
    width:98%;
    background-color:#666666; 
    color:#ffffff; 
    padding: 5px 0px 5px 5px;
    font-weight:bold;
}

.surveyTextBox
{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 275px; 
    margin-top: 5px;
    margin-bottom: 5px;
}
.surveyTextBoxNewAnswer
{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 175px; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.surveyMultBox
{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:75px; 
    width: 275px;
}